create database elfs;

use elfs;

create table camisas (
   id bigint not null auto_increment,
    nome varchar(255),
    preco decimal(19,2),
    tamanho varchar(255),
    time varchar(255),
    tipo_id bigint,
    primary key (id)
)

create table pagamentos (
   id bigint not null auto_increment,
    data datetime,
    valor double precision,
    usuario_id bigint,
    primary key (id)
)

create table tipos (
   id bigint not null auto_increment,
    nome varchar(255),
    primary key (id)
)

create table usuarios (
   id bigint not null auto_increment,
    statuslogado bit,
    usuario varchar(255),
    senha varchar(255),
    primary key (id)
)
